.bara{
    width:1600px;
    height:60px;
    background-color: rgb(58, 62, 59);
    filter:brightness(55%); 
    position:fixed;
    left:0px;
    top:0px;
}


#vulpe_main{
    animation: vulpe_sus_jos 2s linear infinite;
    filter:brightness(150%);
    width:450px;
    height:400px;
    position:fixed;
    top:20px;
    left:35%;
    }

    @keyframes vulpe_sus_jos{
        0%{
            top:20px;
        }
        50%{
            top:40px;
        }
        100%{
            top:20px;
        }
    }

#vulpe_main:hover{
    cursor: pointer;
    filter:brightness(180%);
}
   
    #titlumare{
        position:fixed;
        left:100px;
    }

   
    .titluri{
        font-family:Poppins;
        filter:brightness(95%);
        opacity: 0.8;
        background-attachment: fixed;
    height: 40px;
    color: white;
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow */
    
    
    height: 60px;
    }

    #istorie{
        font-family:Poppins;
        color:rgb(216, 108, 0);
        position:fixed;
        top:10%;
        left:1%;
        font-size:20px;
    }

    #istorie:hover{
        filter:opacity(70%);
    }

    #vulpe_zapada{
        animation:rotate_zapada 2s linear infinite;
        width:400px;
        height:300px;
        position:fixed;
        top:53%;
        left:5%;

    }
    #vulpe_zapada:hover{
        width:350px;
        height:250px;
    }

    @keyframes rotate_zapada{
        0%{
            transform: rotate(15deg);
        }
        50%{
            transform:rotate(-15deg);
        }
        100%{
            transform:rotate(15deg);
        }
    }

    #vulpe_frunze{
     border-radius: 50px;
        width:330px;
        height:260px;
        position:fixed;
        top:62%;
        left:38%;
    }

    #vulpe_frunze:hover{
        border-radius: 50%;
    }

    @keyframes mod_brightness{
        0%{
            filter:brightness(70%);
        }
        50%{
            filter:brightness(120%);
        }
        100%{
            filter:brightness(70%);
        }
    }

    #vulpe_vertical{
        animation:mod_brightness 3s linear infinite;
        width:400px;
        height:550px;
        position:fixed;
        top:15%;
        left:70%;
    }